<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Test</title>
        <script src="./../js/main.js" defer></script>
    </head>
    <body>
        <h1>Some content at the top</h1>
        {% block content %}{% endblock %}

    </body>
</html>